~/.config/tint2/tint2rc
font_desc = Sans 12
panel_items = LTSC
panel_size = 100% 48
panel_layer = top
panel_position = bottom center horizontal
panel_margin = 0 0
panel_padding = 2 2 2
 
panel_background_id = 1
background_color = #1a1a1a 100
panel_border = 1
panel_border_color = #2d2d2d 100
 
taskbar_mode = single_desktop
taskbar_padding = 1 1 1
task_icon = 1
task_text = 0
task_width = 54
task_icon_size = 32
 
task_inactive_background_id = 2
gradient_id = 1
gradient = vertical #2d2d2d #202020
task_inactive_font_color = #b5b5b5 100
task_inactive_border = 1
task_inactive_border_color = #3c3c3c 100
 
task_active_background_id = 3
gradient_id = 2
gradient = vertical #4c8a2b #2d2d2d
task_active_font_color = #ffffff 100
task_active_border = 1
task_active_border_color = #62ab39 100
 
time1_format = %H:%M
clock_font_desc = Sans Bold 14
clock_font_color = #ffffff 100
clock_padding = 8 0
clock_lclick_command = gsimplecal
 
systray_padding = 4 2
systray_background_id = 1
systray_icon_size = 28